div {
    overflow: hidden;
    width: 10px;
    height: 10px;
}

 #moveItem{
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    transition: 0.5s;
} 

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 10px;
    margin-left: 50%;
    box-sizing: border-box;
    align-items: center;
}